In [58]:
import yaml
import pyodbc
from market_growth_analysis.etl.stagging import *
import pandas as pd
import numpy as np

# Load the YAML file
with open('../../conf/global.yml', 'r') as f:
    columns = yaml.safe_load(f)

financial = pd.read_csv("../../data/processed_03/financial-prices-ratios.csv", index_col=0)

# Clean Ratios

In [29]:
columns_ratios = columns['column_id'] + columns['columns_ratios']
ratios_df = financial[columns_ratios]

In [30]:
ratios_df.describe()

,PK,Enterprise Value (EV),EV / Revenue,EV / EBITDA,EV / EBIT,EV / Invested Capital,Free Cash Flow (FCF),EV / Free Cash Flow,EV / FCF,P/E,P/S,P/CF
count,56445.000000,4.809500e+04,4.546100e+04,4.338300e+04,4.338000e+04,2.067900e+04,54596.000000,4.696800e+04,4.696800e+04,4.866300e+04,4.570300e+04,4.812000e+04
mean,28222.000000,5.033202e+07,2.093133e+06,-1.635304e+07,-1.611415e+07,NaN,244.345771,inf,inf,inf,5.527528e+06,inf
std,16294.412309,8.144591e+09,2.719267e+08,1.853450e+09,1.852664e+09,NaN,6207.402514,NaN,NaN,NaN,5.068429e+08,NaN
min,0.000000,-9.816426e+03,-1.680051e+04,-2.765071e+11,-2.763824e+11,-inf,-341822.000000,-3.643247e+12,-3.643247e+12,-2.223530e+11,-1.654114e+04,-6.388385e+12
25%,14111.000000,3.123743e+02,1.379789e+00,-7.940197e-01,-3.387370e+00,4.735112e+00,-60.766525,-1.346549e+01,-1.346549e+01,-2.913847e+00,7.663726e-01,-6.856935e-01
50%,28222.000000,1.741000e+03,3.082043e+00,1.013171e+01,1.257650e+01,1.649107e+01,1.759000,1.562426e+00,1.562426e+00,9.963503e+00,1.752046e+00,6.753109e+00
75%,42333.000000,8.255493e+03,8.737657e+00,1.686291e+01,2.381735e+01,7.553815e+01,146.716750,2.572460e+01,2.572460e+01,2.051324e+01,3.878814e+00,1.389220e+01
max,56444.000000,1.694839e+12,5.276638e+10,3.113391e+09,6.005913e+09,inf,287656.000000,inf,inf,inf,7.586741e+10,inf

In [31]:
# Replace -inf and inf with None
ratios_df = ratios_df.replace([-np.inf, np.inf], None)

# Make sure types are correct
ratios_df[columns['columns_ratios']] = ratios_df[columns['columns_ratios']].astype(float)
ratios_df[columns['column_id']] = ratios_df[columns['column_id']].astype(int)

In [32]:
ratios_df.describe()

,PK,Enterprise Value (EV),EV / Revenue,EV / EBITDA,EV / EBIT,EV / Invested Capital,Free Cash Flow (FCF),EV / Free Cash Flow,EV / FCF,P/E,P/S,P/CF
count,56445.000000,4.809500e+04,4.546100e+04,4.338300e+04,4.338000e+04,2.067400e+04,54596.000000,4.694900e+04,4.694900e+04,4.830000e+04,4.570300e+04,4.808200e+04
mean,28222.000000,5.033202e+07,2.093133e+06,-1.635304e+07,-1.611415e+07,2.071908e+04,244.345771,-8.340090e+07,-8.340090e+07,2.276516e+07,5.527528e+06,-1.723798e+08
std,16294.412309,8.144591e+09,2.719267e+08,1.853450e+09,1.852664e+09,1.721492e+06,6207.402514,1.685837e+10,1.685837e+10,7.737213e+09,5.068429e+08,3.098874e+10
min,0.000000,-9.816426e+03,-1.680051e+04,-2.765071e+11,-2.763824e+11,-9.346288e+02,-341822.000000,-3.643247e+12,-3.643247e+12,-2.223530e+11,-1.654114e+04,-6.388385e+12
25%,14111.000000,3.123743e+02,1.379789e+00,-7.940197e-01,-3.387370e+00,4.735097e+00,-60.766525,-1.347164e+01,-1.347164e+01,-2.983694e+00,7.663726e-01,-6.945563e-01
50%,28222.000000,1.741000e+03,3.082043e+00,1.013171e+01,1.257650e+01,1.648186e+01,1.759000,1.525653e+00,1.525653e+00,9.821835e+00,1.752046e+00,6.742112e+00
75%,42333.000000,8.255493e+03,8.737657e+00,1.686291e+01,2.381735e+01,7.550369e+01,146.716750,2.568955e+01,2.568955e+01,2.013360e+01,3.878814e+00,1.387185e+01
max,56444.000000,1.694839e+12,5.276638e+10,3.113391e+09,6.005913e+09,2.174602e+08,287656.000000,1.025684e+09,1.025684e+09,1.674878e+12,7.586741e+10,5.463123e+11

In [34]:
ratios_df.head(2)

,PK,Enterprise Value (EV),EV / Revenue,EV / EBITDA,EV / EBIT,EV / Invested Capital,Free Cash Flow (FCF),EV / Free Cash Flow,EV / FCF,P/E,P/S,P/CF
0,0,8148.062046,1.818358,38.985943,173.363022,49.988111,394.0,20.680361,20.680361,-178.004562,1.237015,13.585936
1,1,10215.772131,1.876519,13.301787,18.049067,71.942057,-456.0,-22.403009,-22.403009,11.615858,1.461200,11.079070

# Clean Income Statement

In [35]:
columns_income_statement = columns['column_id'] + columns['columns_income_statement']
income_statememnt_df = financial[columns_income_statement]

In [36]:
income_statememnt_df.describe()

,PK,Revenue,Cost Of Goods Sold,Gross Profit,Research And Development Expenses,SG&A Expenses,Other Operating Income Or Expenses,Operating Expenses,Operating Income,Total Non-Operating Income/Expense,...,Other Income,Income From Continuous Operations,Income From Discontinued Operations,Net Income,EBITDA,EBIT,Basic Shares Outstanding,Shares Outstanding,Basic EPS,EPS - Earnings Per Share
count,56445.000000,53575.000000,48450.000000,53608.000000,19840.000000,54139.000000,24819.000000,48447.000000,56254.000000,49880.000000,...,1518.000000,56331.000000,10144.000000,56331.000000,50180.000000,50177.000000,56217.000000,56187.000000,5.622700e+04,5.644500e+04
mean,28222.000000,6029.650493,3961.210305,2445.864171,332.435771,1174.326932,-358.811240,1754.973439,722.611888,-96.160226,...,15.017554,484.553173,58.513503,468.086505,1055.045064,680.666596,278.365748,283.410748,-4.213136e+03,-4.197578e+03
std,16294.412309,21781.718669,16572.321726,8284.165102,1598.571693,4643.733376,2703.628418,6059.256523,3119.413928,888.758021,...,182.201979,2333.683881,969.368461,2327.285628,4062.618565,3038.941123,1963.137009,1988.470250,6.876242e+05,6.862949e+05
min,0.000000,-8219.000000,-13697.000000,-41649.440000,-18.936000,-6231.506000,-124834.000000,-43812.160000,-30363.000000,-59155.360000,...,-371.410000,-23251.000000,-8368.000000,-22802.000000,-24504.400000,-30363.000000,-2278.226000,-2278.226000,-1.595500e+08,-1.595500e+08
25%,14111.000000,111.291000,45.355775,55.506250,6.429775,24.999000,-75.803000,56.924000,-2.560750,-60.700000,...,0.000000,-6.477000,-2.000000,-7.370500,0.330750,-5.005900,16.127000,16.377000,-3.622500e-01,-3.600000e-01
50%,28222.000000,657.077000,362.086000,283.148000,29.902000,112.384000,-6.781000,228.110000,51.662000,-5.719000,...,0.000000,28.527000,0.000000,26.934000,99.200000,52.320200,47.365000,48.288000,8.100000e-01,7.900000e-01
75%,42333.000000,3317.350000,2047.950000,1264.807000,107.288000,529.450000,0.000000,902.489050,343.000000,0.140000,...,0.000000,218.500000,10.801750,211.130500,571.199900,354.300000,148.200000,151.062500,2.330000e+00,2.280000e+00
max,56444.000000,611289.000000,463721.000000,225152.000000,73213.000000,138428.000000,43812.160000,212904.000000,119437.000000,31744.110000,...,4044.055000,99803.000000,76486.910000,99803.000000,130541.000000,119437.000000,373456.000000,373456.000000,2.089355e+05,1.771514e+05

In [37]:
# Make sure types are correct
income_statememnt_df[columns['columns_income_statement']] = income_statememnt_df[columns['columns_income_statement']].astype(float)
income_statememnt_df[columns['column_id']] = income_statememnt_df[columns['column_id']].astype(int)

C:\Users\germa\AppData\Local\Temp/ipykernel_23900/602517649.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income_statememnt_df[columns['columns_income_statement']] = income_statememnt_df[columns['columns_income_statement']].astype(float)
C:\Users\germa\AppData\Local\Temp/ipykernel_23900/602517649.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income_statememnt_df[columns['column_id']] = income_statememnt_df[columns['column_id']].astype(int)

In [38]:
income_statememnt_df.describe()

,PK,Revenue,Cost Of Goods Sold,Gross Profit,Research And Development Expenses,SG&A Expenses,Other Operating Income Or Expenses,Operating Expenses,Operating Income,Total Non-Operating Income/Expense,...,Other Income,Income From Continuous Operations,Income From Discontinued Operations,Net Income,EBITDA,EBIT,Basic Shares Outstanding,Shares Outstanding,Basic EPS,EPS - Earnings Per Share
count,56445.000000,53575.000000,48450.000000,53608.000000,19840.000000,54139.000000,24819.000000,48447.000000,56254.000000,49880.000000,...,1518.000000,56331.000000,10144.000000,56331.000000,50180.000000,50177.000000,56217.000000,56187.000000,5.622700e+04,5.644500e+04
mean,28222.000000,6029.650493,3961.210305,2445.864171,332.435771,1174.326932,-358.811240,1754.973439,722.611888,-96.160226,...,15.017554,484.553173,58.513503,468.086505,1055.045064,680.666596,278.365748,283.410748,-4.213136e+03,-4.197578e+03
std,16294.412309,21781.718669,16572.321726,8284.165102,1598.571693,4643.733376,2703.628418,6059.256523,3119.413928,888.758021,...,182.201979,2333.683881,969.368461,2327.285628,4062.618565,3038.941123,1963.137009,1988.470250,6.876242e+05,6.862949e+05
min,0.000000,-8219.000000,-13697.000000,-41649.440000,-18.936000,-6231.506000,-124834.000000,-43812.160000,-30363.000000,-59155.360000,...,-371.410000,-23251.000000,-8368.000000,-22802.000000,-24504.400000,-30363.000000,-2278.226000,-2278.226000,-1.595500e+08,-1.595500e+08
25%,14111.000000,111.291000,45.355775,55.506250,6.429775,24.999000,-75.803000,56.924000,-2.560750,-60.700000,...,0.000000,-6.477000,-2.000000,-7.370500,0.330750,-5.005900,16.127000,16.377000,-3.622500e-01,-3.600000e-01
50%,28222.000000,657.077000,362.086000,283.148000,29.902000,112.384000,-6.781000,228.110000,51.662000,-5.719000,...,0.000000,28.527000,0.000000,26.934000,99.200000,52.320200,47.365000,48.288000,8.100000e-01,7.900000e-01
75%,42333.000000,3317.350000,2047.950000,1264.807000,107.288000,529.450000,0.000000,902.489050,343.000000,0.140000,...,0.000000,218.500000,10.801750,211.130500,571.199900,354.300000,148.200000,151.062500,2.330000e+00,2.280000e+00
max,56444.000000,611289.000000,463721.000000,225152.000000,73213.000000,138428.000000,43812.160000,212904.000000,119437.000000,31744.110000,...,4044.055000,99803.000000,76486.910000,99803.000000,130541.000000,119437.000000,373456.000000,373456.000000,2.089355e+05,1.771514e+05

# Clean balance sheet

In [40]:
columns_balance_sheet = columns['column_id'] + columns['columns_balance_sheet']
balance_sheet_df = financial[columns_balance_sheet]

In [41]:
# Make sure types are correct
balance_sheet_df[columns['columns_balance_sheet']] = balance_sheet_df[columns['columns_balance_sheet']].astype(float)
balance_sheet_df[columns['column_id']] = balance_sheet_df[columns['column_id']].astype(int)

C:\Users\germa\AppData\Local\Temp/ipykernel_23900/75718191.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  balance_sheet_df[columns['columns_balance_sheet']] = balance_sheet_df[columns['columns_balance_sheet']].astype(float)
C:\Users\germa\AppData\Local\Temp/ipykernel_23900/75718191.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  balance_sheet_df[columns['column_id']] = balance_sheet_df[columns['column_id']].astype(int)

# Clean columns_cash_flow_statement

In [42]:
columns_cash_flow_statement = columns['column_id'] + columns['columns_cash_flow_statement']
cash_flow_statement_df = financial[columns_cash_flow_statement]

In [44]:
# Make sure types are correct
cash_flow_statement_df[columns['columns_cash_flow_statement']] = cash_flow_statement_df[columns['columns_cash_flow_statement']].astype(float)
cash_flow_statement_df[columns['column_id']] = cash_flow_statement_df[columns['column_id']].astype(int)

C:\Users\germa\AppData\Local\Temp/ipykernel_23900/3608533493.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cash_flow_statement_df[columns['columns_cash_flow_statement']] = cash_flow_statement_df[columns['columns_cash_flow_statement']].astype(float)
C:\Users\germa\AppData\Local\Temp/ipykernel_23900/3608533493.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cash_flow_statement_df[columns['column_id']] = cash_flow_statement_df[columns['column_id']].astype(int)

# Clean prices

In [47]:
columns_prices = columns['column_id'] + columns['columns_prices']
prices_df = financial[columns_prices]

In [49]:
prices_df.describe()

,PK,longevity,Close,Volume,Growth -1,Growth +1,Growth +5,avgGrowth -10,avgGrowth -5
count,56445.000000,56445.000000,4.866300e+04,4.866300e+04,39001.000000,36550.000000,22868.000000,19952.000000,27327.000000
mean,28222.000000,21.231234,6.776278e+07,3.125616e+07,0.176190,0.151453,0.847271,0.203700,0.188114
std,16294.412309,18.208661,8.629560e+09,1.610471e+08,1.787390,1.620428,3.606664,0.446257,0.757403
min,0.000000,0.000000,-1.205572e+00,0.000000e+00,-0.999999,-0.999999,-28.594223,-0.658006,-0.856566
25%,14111.000000,6.000000,8.720000e+00,1.097300e+06,-0.229299,-0.233530,-0.234413,0.074884,0.013485
50%,28222.000000,18.000000,1.958838e+01,5.773700e+06,0.043972,0.038478,0.361355,0.149183,0.125358
75%,42333.000000,31.000000,4.319000e+01,2.132000e+07,0.331499,0.317357,1.134124,0.248330,0.258335
max,56444.000000,120.000000,1.373400e+12,1.197745e+10,198.999997,198.999997,280.645588,11.436645,56.027803

In [52]:
# Make sure types are correct
prices_df[columns['columns_prices']] = prices_df[columns['columns_prices']].astype(float)
prices_df[columns['column_id'] + ['longevity']] = prices_df[columns['column_id'] + ['longevity']].astype(int)

C:\Users\germa\AppData\Local\Temp/ipykernel_23900/2335704635.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices_df[columns['columns_prices']] = prices_df[columns['columns_prices']].astype(float)
C:\Users\germa\AppData\Local\Temp/ipykernel_23900/2335704635.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices_df[columns['column_id'] + ['longevity']] = prices_df[columns['column_id'] + ['longevity']].astype(int)

# Create Dim table

In [61]:
columns_dim = columns['columns_dim']
dim_df = financial[columns_dim]

In [68]:
dim_grouped_df = dim_df.groupby('ticker').first().reset_index()

# Save dataframes to load

In [71]:
ratios_df.to_csv("../../data/load_04/ratios_df.csv")
income_statememnt_df.to_csv("../../data/load_04/income_statememnt_df.csv")
balance_sheet_df.to_csv("../../data/load_04/balance_sheet_df.csv")
cash_flow_statement_df.to_csv("../../data/load_04/cash_flow_statement_df.csv")
prices_df.to_csv("../../data/load_04/prices_df.csv")
dim_grouped_df.to_csv("../../data/load_04/dim_grouped_df.csv")