In [32]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import json
from datetime import datetime
import logging
from pathlib import Path 
import concurrent.futures
import tqdm
import yfinance as yf
import pandas as pd
import os
from os.path import join
from datetime import datetime
from pathlib import Path

In [33]:
# Read the csv from stagging
path = '../../data/intermediate_02/financial-sheets.csv'
ticker_file_all = pd.read_csv(path)
ticker = 'ITRN'

In [34]:
ticker_file = ticker_file_all[ticker_file_all['ticker'] == ticker]

In [35]:
from yahoofinancials import YahooFinancials
from datetime import datetime
import pandas as pd


# Get today's date
end_date = datetime.today().strftime('%Y-%m-%d')

# Set a very early start date
start_date = '1900-01-01'

# Create YahooFinancials object
yahoo_financials = YahooFinancials(ticker)

# Retrieve monthly historical prices
data = yahoo_financials.get_historical_price_data(start_date, end_date, 'monthly')

# Extract the historical prices
historical_prices = data[ticker]['prices']

# Create a DataFrame from the historical prices
hist = pd.DataFrame(historical_prices)

# Capitalize first letter of each column
hist.columns = hist.columns.str.title()

hist.drop(columns='Date', inplace=True)
# Rename the "Formatted_Date" column to "Date"
hist = hist.rename(columns={'Formatted_Date': 'Date'})

# Print the updated DataFrame
hist['Date'] = pd.to_datetime(hist['Date'])
hist['year'] = hist['Date'].dt.year
hist.dropna(inplace=True)

hist

,High,Low,Open,Close,Volume,Adjclose,Date,year
0,13.230000,11.320000,13.150000,13.000000,2031300,5.925489,2005-10-01,2005
1,15.400000,12.650000,13.000000,14.540000,2896000,6.627431,2005-11-01,2005
2,17.129999,14.200000,14.390000,15.950000,2252900,7.270121,2005-12-01,2005
3,18.690001,15.600000,16.389999,17.760000,2063600,8.095132,2006-01-01,2006
4,18.200001,14.830000,17.670000,17.000000,1831000,7.748715,2006-02-01,2006
...,...,...,...,...,...,...,...,...
209,23.059999,20.879999,22.459999,21.780001,492000,21.640387,2023-03-01,2023
210,22.250000,20.740000,21.920000,20.799999,357300,20.799999,2023-04-01,2023
211,24.000000,20.350000,20.920000,22.840000,746200,22.840000,2023-05-01,2023
212,25.500000,22.389999,22.730000,23.990000,382200,23.990000,2023-06-01,2023
213,24.225000,23.645100,24.225000,23.990000,10314,23.990000,2023-06-23,2023

In [36]:
# Convert 'Date' column in 'hist' dataframe to string format
hist['Date'] = hist['Date'].astype(str)
# Extract the 'YYYY-MM' format from 'Date' column in 'ticker_file' dataframe
ticker_file['YearMonth'] = ticker_file['Date'].str.slice(0, 7)
# Filter 'hist' dataframe based on 'YYYY-MM' values from 'ticker_file'
filtered_hist = hist[hist['Date'].str.slice(0, 7).isin(ticker_file['YearMonth'])]

C:\Users\germa\AppData\Local\Temp/ipykernel_12816/3425731416.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_file['YearMonth'] = ticker_file['Date'].str.slice(0, 7)

In [37]:
ticker_file['YearMonth']

26251    2009-12
26252    2010-12
26253    2011-12
26254    2012-12
26255    2013-12
26256    2014-12
26257    2015-12
26258    2016-12
26259    2017-12
26260    2018-12
26261    2019-12
26262    2020-12
26263    2021-12
26264    2022-12
Name: YearMonth, dtype: object

In [38]:
filtered_hist

,High,Low,Open,Close,Volume,Adjclose,Date,year
50,13.680000,12.670000,12.960000,12.820000,291100,6.960516,2009-12-01,2009
62,17.799999,15.520000,15.890000,17.490000,376800,10.421598,2010-12-01,2010
74,14.000000,12.220000,12.680000,13.660000,189600,8.667988,2011-12-01,2011
86,13.580000,12.750000,13.080000,13.570000,382700,9.637797,2012-12-01,2012
98,21.879999,19.520000,19.920000,21.639999,619500,16.110310,2013-12-01,2013
110,23.490000,21.180000,21.629999,22.040001,369400,17.089172,2014-12-01,2014
122,20.600000,17.760000,20.170000,18.930000,310200,15.243419,2015-12-01,2015
134,26.799999,24.570000,25.000000,26.500000,477700,22.207010,2016-12-01,2016
146,35.779999,33.400002,35.599998,34.200001,788300,29.511410,2017-12-01,2017
158,35.169998,29.379999,33.290001,32.060001,688900,28.477018,2018-12-01,2018
170,25.450001,21.530001,23.850000,25.129999,1736700,22.861643,2019-12-01,2019
182,19.469999,17.260000,18.410000,19.049999,1222500,17.789606,2020-12-01,2020
194,26.969999,23.920000,26.090000,26.670000,1217600,25.710520,2021-12-01,2021
206,23.639999,20.830000,23.559999,21.129999,922700,20.858915,2022-12-01,2022

In [39]:
# Format to datetime
filtered_hist['Date'] = pd.to_datetime(filtered_hist['Date'])
hist['Date'] = pd.to_datetime(hist['Date'])
# Find the earliest date in the filtered_hist dataframe
earliest_date = filtered_hist['Date'].min()
# Filter 'hist' dataframe for rows with a date greater than the earliest date
filtered_hist_after_earliest = hist[hist['Date'].dt.year > earliest_date.year]
# Find the earliest date in the filtered_hist dataframe
earliest_date = filtered_hist['Date'].min()
# Filter 'hist' dataframe for rows with a date greater than the earliest date
filtered_hist_after_earliest = hist[hist['Date'].dt.year < earliest_date.year]

C:\Users\germa\AppData\Local\Temp/ipykernel_12816/2001008434.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_hist['Date'] = pd.to_datetime(filtered_hist['Date'])

In [40]:
filtered_hist_after_earliest

         High    Low       Open      Close   Volume  Adjclose       Date  year
0   13.230000  11.32  13.150000  13.000000  2031300  5.925489 2005-10-01  2005
1   15.400000  12.65  13.000000  14.540000  2896000  6.627431 2005-11-01  2005
2   17.129999  14.20  14.390000  15.950000  2252900  7.270121 2005-12-01  2005
3   18.690001  15.60  16.389999  17.760000  2063600  8.095132 2006-01-01  2006
4   18.200001  14.83  17.670000  17.000000  1831000  7.748715 2006-02-01  2006
5   17.430000  15.07  17.000000  15.130000  1455700  6.896358 2006-03-01  2006
6   17.379999  15.32  15.320000  16.639999   599100  7.662519 2006-04-01  2006
7   17.370001  13.71  16.600000  14.870000  2365400  6.847456 2006-05-01  2006
8   15.500000  13.66  14.830000  14.010000  2380600  6.451434 2006-06-01  2006
9   15.380000  13.11  14.220000  14.430000  1017100  6.644839 2006-07-01  2006
10  14.980000  13.78  14.240000  13.840000   669600  6.373152 2006-08-01  2006
11  15.340000  13.83  13.830000  14.350000   552000  6.608001 2006-09-01  2006
12  17.639999  14.05  14.330000  17.309999   875000  7.971045 2006-10-01  2006
13  18.230000  15.99  17.299999  15.990000   427800  7.363201 2006-11-01  2006
14  16.730000  14.56  15.960000  15.050000   912300  6.930341 2006-12-01  2006
15  15.790000  14.30  15.340000  14.700000  1654000  6.769169 2007-01-01  2007
16  15.800000  14.50  14.760000  14.970000  1056900  6.893502 2007-02-01  2007
17  15.200000  13.19  15.200000  13.320000   937100  6.133697 2007-03-01  2007
18  14.380000  13.19  13.650000  13.650000   968100  6.376433 2007-04-01  2007
19  15.370000  13.62  14.090000  13.930000   919500  6.507232 2007-05-01  2007
20  14.050000  12.30  13.900000  12.510000   790900  5.843899 2007-06-01  2007
21  13.800000  11.89  12.440000  13.100000  1825400  6.119510 2007-07-01  2007
22  13.640000  10.92  13.250000  11.660000  2485300  5.446829 2007-08-01  2007
23  12.390000  11.45  11.700000  12.050000   459200  5.629013 2007-09-01  2007
24  12.410000  11.10  12.120000  11.580000   777600  5.409457 2007-10-01  2007
25  11.730000   9.62  11.470000  10.300000  1784400  4.811523 2007-11-01  2007
26  11.200000   9.95  10.290000  11.070000   859900  5.171218 2007-12-01  2007
27  11.900000   9.90  11.100000  11.790000  1102200  5.507557 2008-01-01  2008
28  11.990000  10.63  11.890000  10.740000   647400  5.017064 2008-02-01  2008
29  11.380000  10.00  10.760000  10.100000  1638200  4.718095 2008-03-01  2008
30  11.900000  10.02  10.210000  10.680000   983800  5.662278 2008-04-01  2008
31  13.810000  10.70  10.780000  13.320000  1529700  7.061941 2008-05-01  2008
32  13.390000  11.83  13.260000  12.000000  1277000  6.362110 2008-06-01  2008
33  12.220000  10.92  11.960000  11.590000   611900  6.144738 2008-07-01  2008
34  12.510000  11.24  11.600000  11.890000   480100  6.303790 2008-08-01  2008
35  12.170000  10.16  11.830000  10.790000   798100  5.720598 2008-09-01  2008
36  10.910000   6.75  10.910000   7.480000   993900  3.965715 2008-10-01  2008
37   8.200000   5.97   7.190000   7.960000  1166200  4.220199 2008-11-01  2008
38   8.940000   7.15   7.720000   7.310000  1223100  3.875585 2008-12-01  2008

In [41]:
# Filter the resulting dataframe for rows with the same month as the earliest date
appended_hist = filtered_hist_after_earliest[filtered_hist_after_earliest['Date'].dt.month == earliest_date.month]

In [42]:
appended_hist

         High    Low   Open  Close   Volume  Adjclose       Date  year
2   17.129999  14.20  14.39  15.95  2252900  7.270121 2005-12-01  2005
14  16.730000  14.56  15.96  15.05   912300  6.930341 2006-12-01  2006
26  11.200000   9.95  10.29  11.07   859900  5.171218 2007-12-01  2007
38   8.940000   7.15   7.72   7.31  1223100  3.875585 2008-12-01  2008

In [43]:
# Concatenate the filtered_hist dataframe with the appended_hist dataframe
prices_filtered = pd.concat([filtered_hist, appended_hist]).sort_values(by='year').reset_index(drop=True)

In [44]:
prices_filtered

,High,Low,Open,Close,Volume,Adjclose,Date,year
0,17.129999,14.200000,14.390000,15.950000,2252900,7.270121,2005-12-01,2005
1,16.730000,14.560000,15.960000,15.050000,912300,6.930341,2006-12-01,2006
2,11.200000,9.950000,10.290000,11.070000,859900,5.171218,2007-12-01,2007
3,8.940000,7.150000,7.720000,7.310000,1223100,3.875585,2008-12-01,2008
4,13.680000,12.670000,12.960000,12.820000,291100,6.960516,2009-12-01,2009
5,17.799999,15.520000,15.890000,17.490000,376800,10.421598,2010-12-01,2010
6,14.000000,12.220000,12.680000,13.660000,189600,8.667988,2011-12-01,2011
7,13.580000,12.750000,13.080000,13.570000,382700,9.637797,2012-12-01,2012
8,21.879999,19.520000,19.920000,21.639999,619500,16.110310,2013-12-01,2013
9,23.490000,21.180000,21.629999,22.040001,369400,17.089172,2014-12-01,2014
10,20.600000,17.760000,20.170000,18.930000,310200,15.243419,2015-12-01,2015
11,26.799999,24.570000,25.000000,26.500000,477700,22.207010,2016-12-01,2016
12,35.779999,33.400002,35.599998,34.200001,788300,29.511410,2017-12-01,2017
13,35.169998,29.379999,33.290001,32.060001,688900,28.477018,2018-12-01,2018
14,25.450001,21.530001,23.850000,25.129999,1736700,22.861643,2019-12-01,2019
15,19.469999,17.260000,18.410000,19.049999,1222500,17.789606,2020-12-01,2020
16,26.969999,23.920000,26.090000,26.670000,1217600,25.710520,2021-12-01,2021
17,23.639999,20.830000,23.559999,21.129999,922700,20.858915,2022-12-01,2022

In [45]:
prices_filtered['ticker'] = ticker
prices_filtered['Growth -1'] = (prices_filtered['Close'] - prices_filtered['Close'].shift(periods=1)) /  prices_filtered['Close'].shift(periods=1)
prices_filtered['Growth +1'] = (prices_filtered['Close'].shift(periods=-1) - prices_filtered['Close']) /  prices_filtered['Close']
prices_filtered['Growth +5'] = (prices_filtered['Close'].shift(periods=-5) - prices_filtered['Close']) /  prices_filtered['Close']
prices_filtered['avgGrowth -10'] = prices_filtered['Growth -1'].rolling(min_periods=10, window=10).sum() / 10
prices_filtered['avgGrowth -5'] = prices_filtered['Growth -1'].rolling(min_periods=5, window=5).sum() / 5

# filter_years = pd.to_datetime(ticker_file['Date']).dt.year.tolist()
# histgrouped_filtered = prices_filtered[prices_filtered['year'].isin(filter_years)]
prices_filtered.reset_index(names=['longevity'], inplace=True)

In [46]:
prices_filtered.head(15)

,longevity,High,Low,Open,Close,Volume,Adjclose,Date,year,ticker,Growth -1,Growth +1,Growth +5,avgGrowth -10,avgGrowth -5
0,0,17.129999,14.200000,14.390000,15.950000,2252900,7.270121,2005-12-01,2005,ITRN,NaN,-0.056426,0.096552,NaN,NaN
1,1,16.730000,14.560000,15.960000,15.050000,912300,6.930341,2006-12-01,2006,ITRN,-0.056426,-0.264452,-0.092359,NaN,NaN
2,2,11.200000,9.950000,10.290000,11.070000,859900,5.171218,2007-12-01,2007,ITRN,-0.264452,-0.339657,0.225836,NaN,NaN
3,3,8.940000,7.150000,7.720000,7.310000,1223100,3.875585,2008-12-01,2008,ITRN,-0.339657,0.753762,1.960328,NaN,NaN
4,4,13.680000,12.670000,12.960000,12.820000,291100,6.960516,2009-12-01,2009,ITRN,0.753762,0.364275,0.719189,NaN,NaN
5,5,17.799999,15.520000,15.890000,17.490000,376800,10.421598,2010-12-01,2010,ITRN,0.364275,-0.218982,0.082333,NaN,0.091500
6,6,14.000000,12.220000,12.680000,13.660000,189600,8.667988,2011-12-01,2011,ITRN,-0.218982,-0.006589,0.939971,NaN,0.058989
7,7,13.580000,12.750000,13.080000,13.570000,382700,9.637797,2012-12-01,2012,ITRN,-0.006589,0.594694,1.520265,NaN,0.110562
8,8,21.879999,19.520000,19.920000,21.639999,619500,16.110310,2013-12-01,2013,ITRN,0.594694,0.018484,0.481516,NaN,0.297432
9,9,23.490000,21.180000,21.629999,22.040001,369400,17.089172,2014-12-01,2014,ITRN,0.018484,-0.141107,0.140200,NaN,0.150376
10,10,20.600000,17.760000,20.170000,18.930000,310200,15.243419,2015-12-01,2015,ITRN,-0.141107,0.399894,0.006339,0.070400,0.049300
11,11,26.799999,24.570000,25.000000,26.500000,477700,22.207010,2016-12-01,2016,ITRN,0.399894,0.290566,0.006415,0.116032,0.173075
12,12,35.779999,33.400002,35.599998,34.200001,788300,29.511410,2017-12-01,2017,ITRN,0.290566,-0.062573,-0.382164,0.171534,0.232506
13,13,35.169998,29.379999,33.290001,32.060001,688900,28.477018,2018-12-01,2018,ITRN,-0.062573,-0.216157,NaN,0.199242,0.101053
14,14,25.450001,21.530001,23.850000,25.129999,1736700,22.861643,2019-12-01,2019,ITRN,-0.216157,-0.241942,NaN,0.102251,0.054125

In [47]:
from market_growth_analysis.etl import web_scraping

path = '../../data/intermediate_02/financial-sheets.csv'
ticker_file_all = pd.read_csv(path)

web_scraping.get_price_info('ITRN', ticker_file_all)

c:\Users\germa\AppData\Local\Programs\Python\Python39\lib\site-packages\market_growth_analysis\etl\web_scraping.py:182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_file['YearMonth'] = ticker_file['Date'].str.slice(0, 7)
c:\Users\germa\AppData\Local\Programs\Python\Python39\lib\site-packages\market_growth_analysis\etl\web_scraping.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_hist['Date'] = pd.to_datetime(filtered_hist['Date'])

,longevity,High,Low,Open,Close,Volume,Adjclose,Date,year,ticker,Growth -1,Growth +1,Growth +5,avgGrowth -10,avgGrowth -5
0,0,17.129999,14.200000,14.390000,15.950000,2252900,7.270120,2005-12-01,2005,ITRN,NaN,-0.056426,0.096552,NaN,NaN
1,1,16.730000,14.560000,15.960000,15.050000,912300,6.930341,2006-12-01,2006,ITRN,-0.056426,-0.264452,-0.092359,NaN,NaN
2,2,11.200000,9.950000,10.290000,11.070000,859900,5.171217,2007-12-01,2007,ITRN,-0.264452,-0.339657,0.225836,NaN,NaN
3,3,8.940000,7.150000,7.720000,7.310000,1223100,3.875585,2008-12-01,2008,ITRN,-0.339657,0.753762,1.960328,NaN,NaN
4,4,13.680000,12.670000,12.960000,12.820000,291100,6.960517,2009-12-01,2009,ITRN,0.753762,0.364275,0.719189,NaN,NaN
5,5,17.799999,15.520000,15.890000,17.490000,376800,10.421598,2010-12-01,2010,ITRN,0.364275,-0.218982,0.082333,NaN,0.091500
6,6,14.000000,12.220000,12.680000,13.660000,189600,8.667989,2011-12-01,2011,ITRN,-0.218982,-0.006589,0.939971,NaN,0.058989
7,7,13.580000,12.750000,13.080000,13.570000,382700,9.637794,2012-12-01,2012,ITRN,-0.006589,0.594694,1.520265,NaN,0.110562
8,8,21.879999,19.520000,19.920000,21.639999,619500,16.110310,2013-12-01,2013,ITRN,0.594694,0.018484,0.481516,NaN,0.297432
9,9,23.490000,21.180000,21.629999,22.040001,369400,17.089169,2014-12-01,2014,ITRN,0.018484,-0.141107,0.140200,NaN,0.150376
10,10,20.600000,17.760000,20.170000,18.930000,310200,15.243419,2015-12-01,2015,ITRN,-0.141107,0.399894,0.006339,0.070400,0.049300
11,11,26.799999,24.570000,25.000000,26.500000,477700,22.207010,2016-12-01,2016,ITRN,0.399894,0.290566,0.006415,0.116032,0.173075
12,12,35.779999,33.400002,35.599998,34.200001,788300,29.511406,2017-12-01,2017,ITRN,0.290566,-0.062573,-0.382164,0.171534,0.232506
13,13,35.169998,29.379999,33.290001,32.060001,688900,28.477018,2018-12-01,2018,ITRN,-0.062573,-0.216157,NaN,0.199242,0.101053
14,14,25.450001,21.530001,23.850000,25.129999,1736700,22.861643,2019-12-01,2019,ITRN,-0.216157,-0.241942,NaN,0.102251,0.054125
15,15,19.469999,17.260000,18.410000,19.049999,1222500,17.789604,2020-12-01,2020,ITRN,-0.241942,0.400000,NaN,0.041629,0.033958
16,16,26.969999,23.920000,26.090000,26.670000,1217600,25.710518,2021-12-01,2021,ITRN,0.400000,-0.207724,NaN,0.103527,0.033979
17,17,23.639999,20.830000,23.559999,21.129999,922700,20.858915,2022-12-01,2022,ITRN,-0.207724,NaN,NaN,0.083414,-0.065679